
.experience-block {       
    display: flex;
    justify-content: space-between;
    text-align: justify;
    box-sizing: border-box;
}

    .experience-block .logo-container {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        width: 30%;
        min-height: 15vh;
        min-width: 350px;
        background-color: white;
    }

    .experience-block .logo {
        height: 20vh;
        max-height: 50px;
        min-height: 35px;
    }

    .experience-block .text-container {
        flex: 1;
        padding: 5vh 4.5vh 5vh 4.5vh;
    }
.experience-block  .title-and-date-container, .subject {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap:wrap;
}

.experience-block .internship-title {
    font-family: "Coolvetica";
    letter-spacing: .15rem;
    margin-bottom: 0em;
    margin-top: 2vh;
}

.experience-block .subject {
    letter-spacing: .15rem;
    margin-top: 1vh;
}

    .experience-block .internship-subject {
        font-family: "Coolvetica italic";
        margin-bottom: 2vh;
        margin-top: 2vh;
        font-size: 1.1em;
    }

    .experience-block .internship-place {
        font-family: "Coolvetica";
        margin-bottom: 2vh;
        margin-top: 2vh;
        font-size: 0.85em;
        font-weight: lighter;
    }


